.tableContainer {
    margin-bottom: 30px;
    margin-top: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border: 3px solid;
}

th {
    background: #c6d6f8;
    color: black;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}

td {
    padding: 14px;
    border-bottom: 1px solid #ddd;
}

.message {
    text-align: center;
    color: gray;
    font-style: italic;
}
button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
/*320*/
@media (max-width:320px) {
    table {
        font-size: 12px;
    }
    th, td {
        padding: 8px;
    }

}
/* 480px */
@media (min-width:321px) and (max-width:480px) {
    table {
        font-size: 13px;
    }

}

/* 768px */
@media (min-width:481px) and (max-width:768px) {
    table {
        font-size: 15px;
    }
}