.tableContainer {
    margin-bottom: 30px;
    margin-top: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border: 1px solid;
}

th {
    background: #c6d6f8;
    color: black;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}

td {
    padding: 14px;
    border-bottom: 1px solid #ddd;
}

.message {
    text-align: center;
    color: gray;
    font-style: italic;
}
button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}